:root{
	--bs-blue:#33669c;
	--bs-green:#F07B20;
}

html{
	font-size: 62.5%; 
}

body{
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	line-height: 2; 
}




h1,h2,h3{
	font-family: 'Playfair Display', serif;
}

h1{
	font-size: 3.8rem;
}

@media (min-widht:768px){
	h1{
		font-size: 5rem;
	}
}

h2{
	font-size: 3.2rem;
}
@media (min-widht:768px){
	h2{
		font-size: 4rem;
	}
}

h3{
	font-size: 2.4rem;
}
@media (min-widht:768px){
	h3{
		font-size: 3rem;
	}
}


.nombre-sitio{
	color: blue !important; 
}

.btn-success{
	background-color: var(--bs-green)!important;
}
.bg-primary{
	background-color: var(--bs-blue)!important;
}




.hero {
    background-image:linear-gradient(90deg, rgba(2,0,36,.7) 0%, rgba(192,192,240,.3) 59%, rgba(0,212,255,.3) 100%) ,url(../img/hero.jpg);
    height: 25rem;
    background-size:cover;
    background-position: center ;
}

@media (min-width: 768px) {
	
    .hero {
        height: 55rem; 
    }
}


@media (min-width: 768px) {
	
    .producto img {
        height: 45rem; 
        width: 100%;
        object-fit: cover;
    }
}



.categoria img{
	transition-property: transform;
	transition-duration: 300ms; 
	width: 13rem;
}


.categoria img:hover{
	
	transform: scale(1.2); 
	 
}

footer{
	font-size: 2rem;
}



